<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cursos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h4>Web de Aprendizaje Continuo</h4>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="../courses">Listado de Cursos</a></li>
          <li><a href="../course/new">Creación de Cursos</a></li>
          <li class="active"><a href="../enroll/new">Inscripción de Cursos</a></li>
          <li><a href="../enrolled">Personas Inscriptas</a></li>
        </ul><br>
      </div>

      <div class="col-sm-9">
        <form action="/enroll/new" method="post">
          <br />
          <div class="form-group">
            <label for="doc">Documento de Identidad:</label>
            <input type="text" class="form-control" name="doc" id="doc" required>
          </div>
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" name="name" id="name" required>
          </div>
          <div class="form-group">
            <label for="description">Correo:</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
          <div class="form-group">
            <label for="phone">Teléfono:</label>
            <input type="text" class="form-control" name="phone" id="phone" required>
          </div>
          <div class="form-group">
            <label for="course">Curso de Interés:</label>
            <select class="form-control" name="course" id="course" required>
              <option disabled="" selected></option>
                {{{coursesOptions}}}
            </select>
          </div>

          <button type="submit" class="btn btn-success">Realizar Inscripción</button>
        </form>
      </div>
    </div>
  </div>

{{>footer}}

</body>
</html>
